<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="es5_with_hand">

  <xacro:include filename="$(find es5_description)/urdf/es5_description.xacro"/>
  <xacro:es_description prefix=""/>

  <xacro:include filename="$(find es5_description)/urdf/gripper_robotiq_new.xacro"/>
  <xacro:hand ns="" xyz="-0.075 0 0" rpy="0 ${-pi/2} 0" connected_to="sl_6"/>

</robot>
